html {
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  padding-left: 0.5em;
  padding-bottom: 200px;
}

a {
  color: #0077aa;
  text-decoration: none;
}
a:visited {
  color: #0077aa;
}
a:hover {
  color: #4cb7db;
  text-decoration: underline;
}

.hidden {
  display: none;
}

section {
  padding: 8px 0 8px 1em;
  margin-left: 1em;
  border-left: 2px solid #eee;
}

/* header */
header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

header > div {
  display: flex;
  align-items: center;
}

header nav {
  margin-left: 1em;
  font-weight: 800;
}

header nav > * {
  margin-left: 0.5em;
}

#logo {
  max-width: 48px;
  max-height: 48px;
  margin-right: 16px;
}

#pluginName {
  font-weight: 600;
}

#pluginInstanceId {
  font-weight: 200;
  font-size: 1.3em;
  font-style: italic;
  color: #bbb;
  margin-left: 1em;
}

#lastModified i {
  color: #bbb;
}

/* core properties */
#sectionCoreProperties {
  display: flex;
  flex-wrap: wrap;
}

.coreProperty {
  margin: 8px;
  min-width: 120px;
  background: #2c2c2c;
}

.coreProperty div {
  padding: 4px 16px 4px 4px;
}

.coreProperty .corePropertyKey {
  padding: 4px 6px;
  font-weight: 600;
  background: linear-gradient(to bottom right, #666, #464646);
}

#pluginMappingModel {
  color: #fff;
  text-shadow: 1px 1px #0006;
}
#pluginMappingModel.mixed {
  background: #b42222;
}
#pluginMappingModel.new {
  background: #3c9200;
}
#pluginMappingModel.old {
  background: #c19824;
}

/* basic parameters */
#parametersHeader {
  padding: 6px;
  font-weight: 600;
  background: linear-gradient(to bottom right, #666, #464646);
  /* display: flex; */
  display: none;
}

.parameter {
  padding: 4px 4px;
  background-color: #2c2c2c;
  display: flex;
  border-top: 1px solid #444;
  border-bottom: 1px solid #060606;
}
.parameter:hover {
  background: linear-gradient(to right, #0077aa, #444 200px);
  border-color: #0077aa;
}
.parameterKey {
  width: 200px;
}
.parameterCopy {
  visibility: hidden;
  margin-right: 8px;
  cursor: pointer;
  transform: scale(1.5);
  max-height: 1.5em;
  align-self: center;
}
.parameter:hover .parameterCopy {
  visibility: visible;
}
.parameterCopy:hover {
  background-color: #0077aa;
}
.parameterCopy:active {
  background-color: #4cb7db;
}
.parameterValue {
  flex: 1;
  font-family: monospace;
  font-size: 1.3em;
}
.empty {
  color: #999;
  font-style: italic;
}

pre {
  margin: 0;
  max-height: 150px;
  overflow: auto;
}

pre.json {
  border-top: 1px solid #161616;
  border-bottom: 1px solid #464646;
  background-color: #222;
  max-height: 800px;
  height: 150px;
  resize: vertical;
}

/* goal parameters */
.goalHeader {
  display: flex;
  align-items: center;
  padding: 6px;
  font-weight: 600;
  background: linear-gradient(to bottom right, #666, #464646);
}

.goalHeader > *:not(.goalType) {
  text-shadow: 1px 1px #0006;
}

.goalName {
  font-size: 1.2em;
}
.goalId {
  margin-left: 1em;
  color: #bbb;
  font-style: italic;
  font-weight: 100;
}
.goal.active {
  background: linear-gradient(to bottom right, #666, #464646);
}

.goalType > i {
  display: none;
  font-size: 1.5em;
  border-radius: 2px;
  padding: 3px 0px;
  margin-right: 1em;
}
.goalType.export .icon-login,
.goalType.triggerRequest .icon-login {
  display: inline-block;
}
.goalType.import .icon-logout,
.goalType.incomingTriggerRequest .icon-logout {
  display: inline-block;
}
.goalType .icon-login {
  transform: rotate(90deg);
}
.goalType .icon-logout {
  transform: rotate(-90deg);
}
