
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-up-open:before { content: '\e803'; } /* '' */
.icon-wrench:before { content: '\e804'; } /* '' */
.icon-cog-alt:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-login:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-download-outline:before { content: '\e809'; } /* '' */
.icon-upload-outline:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-upload:before { content: '\e80c'; } /* '' */
.icon-ok-outline:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel-outline:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-popup:before { content: '\e811'; } /* '' */
.icon-download-1:before { content: '\e812'; } /* '' */
.icon-upload-1:before { content: '\e813'; } /* '' */
.icon-ok-1:before { content: '\e814'; } /* '' */
.icon-cancel-1:before { content: '\e815'; } /* '' */
.icon-tags:before { content: '\e816'; } /* '' */
.icon-record:before { content: '\e817'; } /* '' */
.icon-cd:before { content: '\e818'; } /* '' */
.icon-attention:before { content: '\e819'; } /* '' */
.icon-attention-circled:before { content: '\e81a'; } /* '' */
.icon-tag:before { content: '\e81b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-genderless:before { content: '\f22d'; } /* '' */